<h2>Reactive: Basics</h2>
<hr>

<div class="row">
    <div class="col">

        <form
         autocomplete="off"
         [formGroup]="myForm"
         (ngSubmit)="onSave()"
        >

            <!-- Campo de producto -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Product</label>
                <div class="col-sm-9">

                    <input type="text"
                           class="form-control"
                           placeholder="Product name"
                           formControlName="name">
                    @if (formUtils.isValidField(myForm, "name")) {
                        <span class="form-text text-danger">
                        <!-- Debe de ser de 3 letras -->
                            {{ formUtils.getFieldError(myForm, "name") }}
                        </span>
                    }
                    
                </div>
            </div>

            <!-- Campo de producto -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Price</label>
                <div class="col-sm-9">
                    <input type="number"
                           class="form-control"
                           placeholder="Product price"
                           formControlName="price">
                    @if (formUtils.isValidField(myForm, "price")) {
                        <span class="form-text text-danger">
                            {{ formUtils.getFieldError(myForm, "price") }}
                        </span>
                    }
                </div>
            </div>

            <!-- Campo de existencias -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Amount</label>
                <div class="col-sm-9">
                    <input type="number"
                           class="form-control"
                           placeholder="Product amount"
                           formControlName="amount">
                    @if (formUtils.isValidField(myForm, "amount")) {
                        <span class="form-text text-danger">
                            {{ formUtils.getFieldError(myForm, "amount") }}
                        </span>
                    }
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <button type="submit"
                            class="btn btn-primary float-end">
                        Save
                    </button>
                </div>
            </div>



        </form>

    </div>
</div>


<div class="row">
    <div class="col">

        <span>Valid</span>
        <pre>{{ myForm.valid | json }}</pre>

        <span>Pristine</span>
        <pre>{{ myForm.pristine | json }}</pre>

        <span>Touched</span>
        <pre>{{ myForm.touched | json }}</pre>

        <span>Value</span>
        <pre>{{ myForm.value | json }}</pre>

        <span>Price</span>
        <pre>{{ myForm.controls['price'].value | json }}</pre>

        <span>Product</span>
        <pre>{{ myForm.controls['name'].value| json }}</pre>
    </div>
</div>